html {

}

body {
	padding-top: 50px;
	position: fixed; /* Remove for original scrolling */
}

h2 {
	font-size: 5.6rem;
}

h3 {
	font-size: 4rem;
}

cite:before { 
	content: '\201C';
	font-size: 2.2em;
	font-family: 'Times New Roman', Times, serif; 
	padding-right: 14px;  
	color: #F83E5B;
	margin-left: -10px;
	float: left;
	margin-top: -20px;
}

cite:after { 
	content: '\201D'; 
	font-size: 2.2em;
	padding-left: 10px;
	font-family: 'Times New Roman', Times, serif; 
	line-height: 1em;
	color: #F83E5B;
	float: right;
}

.strong-quotations {
	margin-top: -14px; 
	height: auto; 
	font-size:2.2rem; 
	padding-right: 10px;
}

i {
	padding-left: 5px;
	padding-right: 5px;
}

.btn-primary:hover{
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#5D84AF),color-stop(50%,#345E8B),to(#2E547D));
	background-image: -webkit-linear-gradient(#5D84AF,#345E8B 50%,#2E547D);
	background-image: -moz-linear-gradient(top,#5d84af,#345e8b 50%,#2e547d);
	background-image: linear-gradient(#5D84AF,#345E8B 50%,#2E547D);
}

.btn-info:hover{
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#6BADE7),color-stop(50%,#2389E3),to(#107FE2));
	background-image: -webkit-linear-gradient(#6BADE7,#2389E3 50%,#107FE2);
	background-image: -moz-linear-gradient(top,#6bade7,#2389e3 50%,#107fe2);
	background-image: linear-gradient(#6BADE7,#2389E3 50%,#107FE2);
}

#navbar {
	position: absolute; /* Remove for original scrolling */
	/*position: fixed;*/
}

	#navbar a{
		font-size: 1.2em;
		padding: 15px;
	}

	#brand {
		padding-left: 20px;
		font-size: 20px;
		/*background-image: url('../images/logo.svg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999px;
		margin-left: 30px;
		margin-right: 20px;*/
	}

	#brand.active {
		
	}
	#brand.active a{
		/*color: #000055;*/
		text-shadow: 0px 0px 1px #000;
	}

	#brand a:hover {
		/*color: #000055;*/
		text-shadow: 0px 0px 1px #000;
	}

	#main-nav .active > a{
		/*color: #1560ca;*/
		text-shadow: 0px 1px 0px #b2a98f,
             0px 3px 10px rgba(0,0,0,0.15),
             0px 5px 2px rgba(0,0,0,0.1),
             0px 6px 30px rgba(0,0,0,0.1);
	}

	#main-nav a:hover{
		top: -2px;
		/*color: #1560ca;*/
		text-shadow: 0px 1px 0px #b2a98f,
             0px 3px 10px rgba(0,0,0,0.15),
             0px 5px 2px rgba(0,0,0,0.1),
             0px 6px 30px rgba(0,0,0,0.1);
	}

.my-fluid-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-y: scroll; /* Remove for original scrolling */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.section {
	background-attachment: scroll;
	background-position: right center;
	/*min-height: 750px;*/
}
	
	.section .vertical-push{
		padding: 40px 0px 140px 0px;
	}

	.section-title {
		padding-bottom: 30px;
	}

	.section-desc {
		font-size: 1.8rem;
	}

	.section hr {
		margin-top: 70px;
		border-color: #000044;
	}

	.section .section-subtitle {
		margin: 40px 0px 40px 0px;
	}

	.section-third p{
		padding: 0px 30px;

	}
	

#Home {
	background:#7f8c8d;
	background-color: gray;
	position: relative;
	overflow: hidden;
	padding-top: 50px;

	min-height: 360px;
	
}

	#Home .vertical-push {
		padding-top: 10%;
	}

	#intro-bg {
		background-image: url('../images/intro-bg2.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/*background-size: 100% auto;*/
		background-attachment: fixed;
		position: absolute;
		height: 100%;
		width: 100%;
		margin-top: -50px;
	}

	#intro-jumbo {
		margin: 0px;
		background-color: rgba(255, 255, 255, 0.95);
		border-radius: 25px;
		float: right;
	}

	#intro-jumbo .btn.hidden-xs {
		display: inline !important;
	}

#About {
	background-color: white;
}

	#quote1 {
		padding-top: 40px;
		min-height: 160px;
	}

	#quote3 {
		padding-top: 30px;
		min-height: 150px;
	}

	.section-third p{
		margin-bottom: 20px;
	}

	/*#About > .container {
		height: 100%;
	}*/

	/*#About > .container div{
		border: solid black 1px;
	}*/

#Projects {
	background-color: silver;
	background-image: url('../images/projects-bg.jpg');
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%; 
	background-position: center center;
	background-attachment: fixed;
	color: white;
}

	#Projects h2 {
		color: white;
	}

	#Projects hr{
		border-color: white;
	}

	#myCarousel {
		margin: 20px auto;
	}

	.carousel {
		line-height: 1;
	}

		.carousel-inner > div {
			min-height: 700px;
			text-align: center;
			color: black;
			background-color: rgba(230,230,230,0.9);
		}

		.carousel-inner img {
			max-height: 430px;
			max-width: 80%;
			margin-bottom: 20px;
		}

		.carousel-inner p {
			padding: 0px 10%;
			font-size: 1.2em;
		}

	.carousel-control {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		position: absolute;
		top: 50%;
		left: 15px;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		font-size: 60px;
		font-weight: 100;
		line-height: 24px;
		color: #FFF;
		text-align: center;
		background: #222;
		border: 3px solid #FFF;
		-webkit-border-radius: 23px;
		-moz-border-radius: 23px;
		border-radius: 23px;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	.carousel-control.right {
		right: 15px;
		left: auto;
	}

	.carousel-indicators {
		position: absolute;
		top: 15px;
		right: 20px;
		z-index: 5;
		margin: 0px;
		list-style: none;
		width: 120px;
		height: 10px;
		left: auto;
	}

	.carousel-indicators li {
		/*border-color: #5A5959;*/
	}

	.carousel-indicators .active{
		/*background-color: #5A5959;*/
	}

	/*.carousel-indicators .active {
		background-color: black;
	}*/

	.popover-content {
		color: black;
	}

	p.technologies{
		font-weight: 600;
	}

#Experience {
	background-color: white;
	min-height: 500px;
}

	#Experience h4 {
		font-weight: bold;
		margin-bottom: 10px;
	}

	#Experience .float-right {
		float: right;
	}

	#Experience ul {
		margin-bottom: 40px;
	}

#Contact {
	background-color: silver;
	min-height: 500px;
}

	#connectButton {
		width: 100%;
	}

	#career2Badge{
		width: 140px;
		height: 30px;
		margin: 10px;
		background-color: #EEE;
		border-color: #555;
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),color-stop(50%,#DDD),to(#888));
		background-image: -webkit-linear-gradient(#FFF,#DDD 50%,#888);
		background-image: -moz-linear-gradient(top,#FFF,#DDD 50%,#888);
		background-image: linear-gradient(#FFF,#DDD 50%,#888);
	}

		#career2Badge > img {
			width: 90%;
			height: 100%;
			top: -3px;
			position: relative;
		}

/* Bootstrap md */
@media screen and (max-width: 1200px) {
	#quote1 {
		padding-top: 40px;
		min-height: 190px;
	}

	#quote3 {
		padding-top: 30px;
		min-height: 190px;
	}
}

/* ipad landscape width! */
@media screen and (max-width: 1024px){

	
	.my-fluid-container > * {
	    -webkit-transform: translateZ(0px);
	}

	#Projects {
		background-attachment: scroll;
	}

	#intro-bg {
		background-attachment: scroll;
	}
}

/* Bootstrap sm */
@media screen and (max-width: 970px) {
	#intro-bg {
		background-repeat: no-repeat;
		left: 50%;
		margin-left: -485px;
		width: 1120px;
		position: absolute;
	}

	#quote1, #quote3 {
		padding-top: 0px;
		min-height: 0px;
	}

	.quote {
		margin-top: 60px;
	}

}

/* Bootstrap xs */
@media screen and (max-width: 768px) {
	#intro-bg {
		width: 900px;
	}

	#Home .vertical-push {
		padding-top: 25%;
	}

	#intro-jumbo {
		float: none;
	}

	#navbar {
		position: fixed;
	}

	h2 {
		font-size: 4.8rem;
	}

	h3 {
		font-size: 3.4rem;
	}

	#intro-jumbo .btn.visible-xs {
		display: inline !important;
	}

	#intro-jumbo .btn.hidden-xs {
		display: none !important;
	}
}

@media screen and (max-width: 650px) {
	.carousel-inner > div {
		min-height: 600px;
	}

	.carousel-inner p {
		font-size: 1em;
	}

	.carousel-inner h3 {
		font-size: 2.4rem;
	}

	.carousel-control.left {
		left: 5px;
	}

	.carousel-control.right {
		right: 5px;
	}
}

@media screen and (max-width: 500px) {
	.carousel-inner > div {
		min-height: 520px;
	}

	.carousel-control.left {
		left: 0px;
	}

	.carousel-control.right {
		right: 0px;
	}

	#Home .vertical-push {
		padding-top: 0%;
	}

	#intro-jumbo h1 {
		font-size: 3rem;
	}

	#intro-jumbo p {
		font-size: 1.3rem;
	}

	#intro-jumbo .btn {
		font-size: 12px;
	}
}